@media (max-width: 1000px) {
  #wpadminbar { border-left:10px solid red !important; }
  body{
    /*padding: 0 3%;*/
  }
  
  .sidebar {
    /*width: 27%;*/
  }

  .section {
    /*padding: 3%;*/
  }

  .left {
    /*width: 67%;*/
    /*padding-right: 3%;*/
  }

}

@media (max-width: 768px) {
  #wpadminbar { border-left:10px solid green !important; }

  .left, .sidebar {
    width:100%;
    clear:both;
  }

}

@media (max-width: 480px) {
  #wpadminbar { border-left:10px solid yellow !important; }
}
